*{
  margin: 0;
  padding: 0:
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
}

nav{
    display: flex;
    width: 100%;
    background: #0d6efd;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 30px 30px;
}

nav .icon{
    font-size: 50px;
    font-weight: 8--;
    color: #fff;
    cursor: pointer;
    background: #0d6efd;
}

#logo{
  width: 70px;
  margin-right: 10px;
}

#searchText{
    font-size: 30px;
    text-align: center;
    width: 25%;
    margin-left: 10%;
    margin-bottom: 5%;
}

#searchContactButton{
  font-size: 30px;
  width: 500px;
  width: 10%;
  font-family: 'Roboto', Helvetica, sans-serif;
  cursor: pointer;
  }

#addContactButton{
	font-size: 30px;
  width: 200px;
  margin-left: 33%;
  margin-bottom: 5%;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', Helvetica, sans-serif;
}

#smallButton {
  width: 20px;
  length: 25px;
}

#accessUIDiv {
  background: #FFF;

}

#logoutButton{
    width: 70px;
    float: right;
    margin-left: auto;
    margin-right: 80px;
}

#logoutImg{
  width: 50px;
  length: 50px;
}

nav1
{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000;
    display: flex;
    background: #0d6efd;
    padding: 30px 30px;
    margin-bottom: 5%;
}
nav1 .icon{
    font-size: 50px;
    text-align: Center;
    color: #fff;
    background: #0d6efd;
}

#inner-title
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #FFF;
    background: #0a5071;
}

#userNameLabel
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000000;
  }

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #95060a;
}

#signUpResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Roboto', Helvetica, sans-serif;
}

#contactSearchResult{
    display: none;
}

#contactAddResult #contactEditResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #95060a;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
}

.styled-table thead tr {
    background-color: #000;
    color: #000;
    text-align: left;
}

.styled-table th{
	 padding: 12px 15px;
	 background-color:#0d6efd;
	 color: #FFF
}
.styled-table td {
    padding: 12px 15px;
    background-color: white;
    color: #
}

.styled-table tbody tr {
    border-bottom: 1px solid #000;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #000;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #000;
}


{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */

.form-container .btn {
  background-color: #0d6efd;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: #0d6efd;
}

/* Add some hover effects to buttons */

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
