*{
  margin: 0;
  padding: 0:
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background: aliceblue
}

nav{
    display: flex;
    width: 100%;
    background: #0a5071;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 30px 30px;
}

nav .icon{
    font-size: 50px;
    font-weight: 8--;
    color: #fff;
    cursor: pointer;
    background: #0a5071;
}

#searchText{
    font-size: 30px;
    border-radius: 25px;
    text-align: center;
    width: 25%;
    margin-left: 1%;
    margin-bottom: 10%;
    font-family: 'Ubuntu', sans-serif;
}

#searchColorButton{
  font-size: 30px;
  width: 500px;
  border-radius: 25px;
  width: 15%;
  font-family: 'Caveat', 'sans-serif';
  cursor: pointer;
  }

#addColorButton{
  font-size: 30px;
  width: 200px;
  border-radius: 25px;
  margin-left: 46%;
  margin-bottom: 10%;
  font-family: 'Caveat', 'sans-serif';
  cursor: pointer;
}

#addContactButton{
	  font-size: 30px;
  width: 200px;
  border-radius: 25px;
  margin-left: 46%;
  margin-bottom: 10%;
  background: lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  display: block;
}

#logoutButton{
  font-size: 20px;
  width: 200px;
  border-radius: 25px;
  margin-left: 44%;
  margin-right: 4%;
  font-family: 'Caveat', 'sans-serif';
  cursor: pointer;
}

nav1
{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    display: flex;
    background: #0a5071;
    padding: 30px 30px;
    margin-bottom: 10%;
}
nav1 .icon{
    font-size: 50px;
    text-align: Center;
    color: #fff;
    background: #0a5071;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #0a5071;
    align-items: center;
    justify-content: center;
}

#addContactDiv{
	 font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #0a5071;
    align-items: center;
    justify-content: center;
}

#newContactFirst{
	background: #FFF;
}
#newContactLast{
	background: #FFF;
}
#newContactEmail{
	background: #FFF;
}
#newContactPhone{
	background: #FFF;
}


#loginName{
	background:#FFF;
}

#loginPassword{
	background: #FFF;
}

#loginButton{
  font-size: 30px;
  width: 200px;
  border-radius: 25px;
  margin-left: 46%;
  margin-bottom: 10%;
  background: lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  display: block;
}

#signUpButton{
	font-size: 30px;
  width: 200px;
  border-radius: 25px;
  margin-left: 46%;
  margin-bottom: 10%;
  background: lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  display: block;
}

#cancelButton{
  font-size: 30px;
  width: 200px;
  border-radius: 25px;
  margin-left: 46%;
  margin-bottom: 5%;
  background: lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  display: block;
}
#signUpDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    margin-top: 10%;
    background-color: #0a5071;
    align-items: center;
    justify-content: center;
}

#signUpTitle{
	background-color: #0a5071;
	text-align: Center;
	font-size: 30px;
	margin-bottom: 3%;
	color: #FFF;
}


#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #F0FFFF;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#signUpFirstName
{
	font-size: 30px;
	background: #FFF;
}
#signUpLastName
{
	font-size: 30px;
	background: #FFF;
}
#signUpName
{
	font-size: 30px;
	background: #FFF;
}
#signUpPassword1
{
	font-size: 30px;
	background: #FFF;
}
#signUpPassword2
{
	font-size: 30px;
	background: #FFF;
}

#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Times New Roman, sans-serif;
    color: #FFF;
    background: #0a5071;
}

#userNameLabel
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Times New Roman, sans-serif;
    color: #000000;
  }

#passwordLabel
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Times New Roman, sans-serif;
    color: #000000;
}
#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#signUpResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}



#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
